.flatnnes{
	background-color: #030410;
	width: 100px;
}
.fondo{
	display: inline-table;
	float: left;
	text-decoration: none;
	background-color: #02030F;
	color: white;
	font-family: 
}
	/* Inserta tu codigo aqui */
	}

/* Responsive */

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 600px) {

}
